<div class="navbar-croker">
  <div class="content-container">
    <a href="/">
      <%= image_tag "logo2.png", alt: "logo", class: "logo" %>
    </a>
    <div class="tabs-button-container">
      <div class="navbar-tabs">
        <%= link_to 'Dashboard', '#', class: "active" %>
        <%= link_to 'Buy/Sell', '#' %>
      </div>
      <div class="right-content">
        <div class="balance-portfolio">
          <p class="detail">Available Balance: <span class="value">$80.00</span></p>
          <p class="detail">Portfolio Value: <span class="value">$80.00</span></p>
        </div>
        <div class="button">
          <button class="btn btn-success deposit-btn" type="submit">Deposit</button>
        </div>
        <i class="fas fa-ellipsis-v"></i>
      </div>
    </div>
  </div>
</div>
