<div class="background">
 <div class="banner">
  <div class="banner-content">
    <h1>Find your perfect car today...</h1>
    <!-- <p>Rent a car from our inventory.</p> -->


    <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="Enter a city">
    </form>
    <%= link_to cars_path do %>
    <button id="landing-button" class="btn btn-success btn-lg">START NOW</button>
    <% end %>
  </div>
</div>
</div>


