.delete-btn {
  background-color: #f7f7f7;
  padding: 0 10px !important;
}

.booking-button {
  margin-right: 10px;
}

.delete-btn:hover {
  background-color: #d8d8d8;
}

.btn-edit {
  background-color: $green;
  padding: 0 10px !important;
}

.btn-edit:hover {
  background-color: #54af3b;
}
