.my-btn {
padding: 15px;
margin: 10px;
border-radius: 4px;
box-shadow: 1 1 1 rgba(0, 0, 0, 0.2);
background-color: $green;
text-decoration: none;
}

.sign-up{
  background-color: $green;
}

.delete-btn {
  background-color: #f7f7f7;
  padding: 0 10px !important;
}

.booking-button {
  margin-right: 10px;
}

.delete-btn:hover {
  background-color: #d8d8d8;
}

.product .btn-edit {
  background-color: $green;
  padding: 0 10px !important;
  color: white;
}

.btn-edit:hover {
  background-color: #54af3b;
}

.product .btn-add-review {
  background-color: $green;
  padding: 0 10px !important;
  color: white;
}

.btn-add-review:hover {
  background-color: #54af3b;
}

.add-review-button-past {
  margin-right: 0px;
  color: white;
}

.btn-add {
  background-color: $green;
  padding: 0 10px !important;
  margin-left: 29px;
  margin-bottom: 9px;
  color: white;
}
