.cars-wrapper {
  display: flex;
  flex-direction: row;
  margin: 30px 50px 30px 50px;
}

.cars-container {
  margin-left: 120px;
  flex: 1 0 600px;
  box-shadow: 1px 1px 50px rgba(0,0,0,0.1);
}
.map-container {
  margin-right: 120px;
  flex: 1 0 600px;
}

.product {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 1px;
  transition: all 0.15s ease;
  background-color: white;
  border-bottom: 1px solid $light-gray;
  li {
    a {
      color: rgb(130, 130, 130);
    }
  }
  a {
      text-decoration: none;
      color: $gray;
    }
  ul {
    margin-top: 10px;
    padding-top: 10px;
    list-style-type: none;
    text-align: right;
    font-size: 14px;
  }
}

/* Body design */
.product-body {
  flex: 1 1 auto;
}
.product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
  color: $gray !important;
}
.product-body p {
  font-weight: lighter;
  color: $gray;
  margin-bottom: 0;
}

/* Product image */
.index-product-image {
  border-radius: 2px;
      margin: 5px 40px 5px 10px;
  width: 175px;
}

/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: $gray;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.product:hover {
  background: rgb(240, 255, 239);
  cursor: pointer;

}

.product:hover .product-controls-hidden a {
  color: #E6E6E6;
}
.product-upvote:hover .product-arrow {
  border-bottom: 9px solid #5898f1;
}
