.cars-wrapper {
  display: flex;
  flex-direction: row;
  margin: 30px 0px 30px 0px;
}

.car {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 4px solid rgba(220,224,244,0.4);
  flex-grow: 1;
}

.car-details {
  padding-left: 10px;
  min-width: 100px;
}
.car-details h3 {
  font-size: 13px;
  margin-bottom: 0px;
  padding-bottom: 20%;
}

.car-image {
  height: 80px;
  width: auto
}

a:link {
  text-decoration: none;
  color: black;
}
