.product {
  display: flex;
  align-items: center;
  border-radius: 3px;
  transition: all 0.15s ease;
  padding: 8px 20px 8px 20px;
  p {
    margin-bottom: 0;
    font-size: 17px;
    color: #E6E6E6;
  }
}

.product-price li {
  margin-right: 25px;
}

/* Body design */
.product-body {
  width: 50%;
}

.bookings-list {
  width: 30%;
}

.product-body h3 {
  font-weight: normal;
  font-size: 17px;
  color: #E6E6E6;
  margin-top: 0;
  margin-bottom: 0;
}

.product-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

/* Upvote design */
.product-upvote {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.product-count {
  margin: 2px 0 0;
}

.profit-group {
  display: flex;
  justify-content: space-between;
  width: 45%;
  padding-bottom: 30px;
  font-size: 27px;
}

.rating-group {
  display: flex;
  justify-content: space-between;
  width: 45%;
  font-size: 27px;
}

/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
  width: 50%;
  li {
    width: 33%;

  }
}

#bookings-buttons-column {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.cards-list-dashboard li {
  width: 50%;
}
.product ul {
  padding-top: 0px;
  margin-top: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

.bookings-dashboard {
  width: 70%;
}

/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.product-upvote-upvoted .product-arrow {
  border-bottom-color: #5898f1;
}
// .product:hover .product-upvote {
//   transform: scale(1.2)
// }
.product:hover .product-controls-hidden a {
  color: #E6E6E6;
}
.product-upvote:hover .product-arrow {
  border-bottom: 9px solid #5898f1;
}
