.car-wraper {
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // width: 100%;
  padding: 30px;
  padding-top: 20px;
  background-color: white;
  // width: 60%;
}

.car-details p {
  margin-left: 20px;
  margin-right: 20px;
}

.review-wraper ul {
    margin: 20px 20px 0px 20px;
    padding-left: 0px;
  }

.show-title-wraper {
  margin-bottom: 30px solid transparent;
}

.show-card {
  // display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.car-wraper {
  align-items: center;
}

.image-show {
  height: 50vh;
  // width: 60%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  // border: 10px solid transparent;
  border-bottom: 15px solid transparent;
}

.title-show {
  margin: 0px;
  padding: 0px;
}

.car-card-title {
  display: flex;
  border-bottom: 1px solid gray;
  margin: 15px 20px 15px 20px;
}

.green-line {
  width: 50px;
  border-bottom: 3px solid #60CD44;
}

.text-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  padding: 20px;
  h4 {
    margin-top: 0px;
  }
}

.rent-button {
  justify-content: center;
  display: flex;
}

.show-button {
  margin-top: 30px;
}


.required {
  display: flex;
  justify-content: space-between;
}

.booking-form {
  padding-top: 10px;
}
