
<div class="cars-wrapper">
  <div class="container">
    <% 40.times do %>
      <div class="row">
        <div class="teste">
          <div class="message">
            <img class="avatar-large" src="https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/audi-a3-1.jpg?itok=A0NbYXyS">
            <div class="message-name">
              <h3>arnold schwarzenegger</h3>
            </div>
            <div class="message-name">
              <h3>Audi A3</h3>
            </div>
             <div class="message-name">
              <h3>Lisbon</h3>
            </div>
             <div class="message-name">
              <h3>4P</h3>
            </div>
             <div class="message-name">
              <h3>200 Euros</h3>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="map" style="position: relative;overflow: hidden;">
    <h3>map</h3>
  </div>
</div>


